body {
    background-color: rgb(228, 229, 233);
}

.article-section {
    margin-bottom: 20px;
    background-color: rgb(224, 213, 200);
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
  }
  
.section-header {
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
.content {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
.image-container {
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}
h1 {
    color: rgb(66, 62, 56);
}

h3 {
    color:rgb(66, 62, 56);
}

h5 {
    color: rgb(66, 62, 56);
    font-size: medium;
}